{% include 'header.html' %}

{% block content %}
  <main id="main">

    <section class="section pb-5">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>About Me</h2>
            <p class="mb-0">I am an aspiring Data Scientist based at Budapest, who has automotive software development background.</p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <h3 class="h3 mb-4">Skills</h3>
            <ul class="list-unstyled">
              <li class="mb-3">
                <div class="d-flex mb-1">
                  <strong>Python</strong>
                  <span class="ml-auto">80%</span>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </li>
              <li class="mb-3">
                <div class="d-flex mb-1">
                  <strong>Matlab</strong>
                  <span class="ml-auto">90%</span>
                </div>
                <div class="progress custom-progress">
                  <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </li>
<!--              <li class="mb-3">-->
<!--                <div class="d-flex mb-1">-->
<!--                  <strong>HTML5/CSS3</strong>-->
<!--                  <span class="ml-auto">99%</span>-->
<!--                </div>-->
<!--                <div class="progress custom-progress">-->
<!--                  <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="mb-3">-->
<!--                <div class="d-flex mb-1">-->
<!--                  <strong>Veu</strong>-->
<!--                  <span class="ml-auto">87%</span>-->
<!--                </div>-->
<!--                <div class="progress custom-progress">-->
<!--                  <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="mb-3">-->
<!--                <div class="d-flex mb-1">-->
<!--                  <strong>Angular</strong>-->
<!--                  <span class="ml-auto">85%</span>-->
<!--                </div>-->
<!--                <div class="progress custom-progress">-->
<!--                  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="mb-3">-->
<!--                <div class="d-flex mb-1">-->
<!--                  <strong>React</strong>-->
<!--                  <span class="ml-auto">88%</span>-->
<!--                </div>-->
<!--                <div class="progress custom-progress">-->
<!--                  <div class="progress-bar" role="progressbar" style="width: 88%" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </li>-->
            </ul>
          </div>

          <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
            <p><img src="static/assets/img/person_bence.jpg" alt="Image" class="img-fluid"></p>
            <p>Since 2021 I got interested in coding as a free time activity. I learned Python and I implemented projects
            that I find interesting/challenging. You can find a portion of these projects on this website.</p>
            <p>I am interested in freelance data science projects. (data scraping, data cleaning, data visualization)</p>
            <p>In case you are interested in working with me, you can contact me here.</p>
            <h2>My path so far</h2>
            <p>I got my Bsc. and Msc. degree at the Budapest University of Technology and Economics as a Vehicle Engineer
            specialized for vehicle manufacturing. I graduated in 2018.</p>
            <p>During my  Masters, I worked for a year as an intern at EMPA a Swiss Federal Laboratory for Material Scinece and Technology,
            where I investigated the physical properties of thin film metalic glasses. You can find my Master Thesis on this
            topic here, and a related paper, where I contributed.</p>
            <p>In 2019 I joined AVL Hungary, an automotive supplier company, where I joined to the development various software solutions,
              which controlled different systems on the vehicle, such as Exhaust After-treatment System, Fuel Cell System,
              Battery Management System.</p>
            <p>Parallel to AVL Hungary, I got a post-graduate Engineer-Economist degree at Corvinus University of Budapest, where I
            studied Business and Administration topics. My Thesis (hungarian) investigated the effect of financial literacy
            on the wealth of households.</p>
            <p>In 2022 I joined to Jaguar Land Rover Hungary as a System Engineer. I became the owner of the Vehicle State
            Estimation System, which estimate vehicle motion states and parameters, which is not efficient, or impossible to
            measure.</p>

            <p><a href="static/assets/pdf/Könnyű_Bence_CV_english.pdf" class="readmore">Download my CV</a></p>
          </div>

        </div>

      </div>

    </section>

  </main><!-- End #main -->
{% endblock %}

{% include 'footer.html' %}